body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #444;
}

table {
    width: 100%;
    table-layout:auto;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

td.message{
    word-wrap: break-word; /* Break long words onto the next line */
    white-space: normal;   /* Allow text to wrap onto multiple lines */
    width: 400px;          /* Set a fixed width to control expansion */
    max-width: 400px;      /* Restrict max width to keep the table layout */
}
/*
form {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
*/

div#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: poppins;
    padding: 0 60px;
    background-color: #206961;
    box-shadow: 0px 2px 8px 3px rgb(79, 77, 77);
    /* width: 100%; */
    /* color: black !important; */
}
div#header:hover{
    box-shadow: 2px 2px 15px 5px rgb(79, 77, 77);

}
div#header h1{
    color: black !important;
}

.filter_download{
    display: flex;
}